@import "~antd/es/style/themes/default.less";
@import "components/editorTools/editor.less";
@import "components/editorTools/header.less";
@import "components/editorTools/image.less";
@import "~emoji-mart/css/emoji-mart.css";
@import "~react-virtualized/styles.css";

html,
body,
#root {
  height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2em;
}
ul,
ol {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: @layout-body-background;
}

.loginIcon {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: @primary-color;
  }
}

// .ant-card {
//   background-color: rgb(20, 20, 20);
// }

// *[modifier]::before {
//   content: attr(modifier);
//   position: absolute;
//   left: -20px;
//   text-align: right;
//   transform: translateX(-100%);
//   display: block;
//   font-size: 12px;
// }

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

// .gutter {
//   background: @disabled-color-dark;
//   flex-shrink: 0;
// }

.gutter {
  background-color: @disabled-color-dark;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter-horizontal {
  cursor: ew-resize;
}

.gutter-vertical {
  cursor: ns-resize;
}

.chat-container {
  background: @shadow-color;
  height: 100%;
}

.chat-message-card-me {
  background: @alert-info-bg-color !important;
  border: 1px solid @alert-info-border-color !important;
}

.chat-message-card-other {
  background: @card-background !important;
}

.file-card {
  background-color: @layout-body-background;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 75%;
  position: relative;
  overflow: hidden;

  span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: @primary-color;
    text-align: center;
    position: absolute;
  }
}

.task-card {
  background-color: @layout-body-background;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 75%;
  position: relative;
  overflow: hidden;

  .task-card-content {
    top: 0;
    position: absolute;
  }
}

.virtual-table .ant-table-container:before,
.virtual-table .ant-table-container:after {
  display: none;
}
.virtual-table-cell {
  box-sizing: border-box;
  padding: 12px;
  border-bottom: @table-border-color solid 1px;
  line-height: 32px;
  background: @table-bg;
}

.center-container {
  position: relative;
  overflow: hidden;

  .center-item {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
  }
}
.ant-pro-sider-extra.ant-pro-sider-extra-no-logo {
  padding: 0;
}
