@import "~antd/es/style/themes/default.less";
@import "components/editorTools/editor.less";
@import "components/editorTools/header.less";
@import "components/editorTools/image.less";

html,
body,
#root {
  height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2em;
}
ul,
ol {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: @layout-body-background;
}

.loginIcon {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: @primary-color;
  }
}

// .ant-card {
//   background-color: rgb(20, 20, 20);
// }

// *[modifier]::before {
//   content: attr(modifier);
//   position: absolute;
//   left: -20px;
//   text-align: right;
//   transform: translateX(-100%);
//   display: block;
//   font-size: 12px;
// }